<footer class="footer-07">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 d-flex flex-column align-items-center text-center">
                <h2 class="footer-heading"><a href="#" class="logo">Document Manager</a></h2>
                <p class="menu">
                    <a href="#">Home</a>
                    <a href="#">Agent</a>
                    <a href="#">About</a>
                    <a href="#">Blog</a>
                    <a href="#">Contact</a>
                </p>
                <ul class="ftco-footer-social p-0">
                    <li>
                        <a href="#">
                            <mat-icon class="folder-icon" svgIcon="insta" aria-hidden="false" aria-label="Example folder SVG icon">
                            </mat-icon>
                        </a>
                    </li>
                    <li>

                        <a href="#">
                            <mat-icon class="git-icon" svgIcon="git" aria-hidden="false" aria-label="Example folder SVG icon">
                            </mat-icon>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <mat-icon class="facebook-icon" svgIcon="facebook" aria-hidden="false" aria-label="Example folder SVG icon">
                            </mat-icon>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <mat-icon class="linkedin-icon" svgIcon="linkedin" aria-hidden="false" aria-label="Example folder SVG icon">
                            </mat-icon>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <p class="copyright">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> All rights reserved
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>